

.about-header {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.about-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.heading-title {
	color: #f6c335;
	margin-bottom: 15px;
	position: relative;
	font: 
}